<!DOCTYPE html>
<html lang="en" ng-app="pokemon">
<head>
  <!-- <meta charset="utf-8" ng-app="tunely"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>POKAAMAANZ: GOTTA CRUD 'EM ALL, POKAAMAANZ'</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/bootstrap-theme.css">
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script  src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
  <body>
    <div class="container col-xs-12 col-xs-offset-1" ng-controller="PokemonIndexController as pokemonIndexCtrl">
    <!-- <br> -->
    <div class="content col-xs-10 offset-xs-2">
    <div class="row">
    <div class="col-xs-3 title">
        <p>Pokedex</p>
          <div class="search">
            <input type="text" class="form-control" ng-model="searchPokemon" placeholder="Search Pokemon">
          </div>
    </div>
    </div>
    <div class ="row no-gutter">
    <div class="col-xs-3 sideBar">
                <div ng-repeat="poke in pokemonIndexCtrl.pokemon | orderBy: 'pokedex' | filter: searchPokemon">
                    <div class="pokeSide" ng-click="pokemonIndexCtrl.changePoke(poke)">
                    <a href="" value="{{poke.name}}" class='inline-header'>{{poke.pokedex}}-{{poke.name}}</p>
                    </div>
                </div>

    </div>
      <div class="col-xs-9 pokePanel">
        <div class="row">
          <div class = "col-xs-12 offset-xs-2">
            <input type="text" class="hiddenPokeSelect form-control" ng-model="pokemonIndexCtrl.selectPokemon">
            <div ng-repeat="poke in pokemonIndexCtrl.pokemon | filter: pokemonIndexCtrl.selectPokemon">
                <div class = "pokeNameContainer col-xs-10 col-xs-offset-1">
                  <p class = "pokeNameText" ng-hide="editing">{{poke.pokedex}} {{poke.name}}</p>
                  <input ng-show="editing" ng-model="poke.pokedex" type="text" class="form-control input-md">
                  <input ng-show="creating" ng-model="newPoke.pokedex" type="text" class="form-control input-md">
                  <input ng-show="editing" ng-model="poke.name" type="text" class="form-control input-md">
                  <input ng-show="creating" ng-model="newPoke.name" type="text" class="form-control input-md">
                </div>
                <br>
                <div class = "row">
                  <div class = "col-xs-10 col-xs-offset-1 middleRowContainer">
                      <div class = "imgContainer col-xs-4">
                        <img class = "img-responsive center-block" src='{{poke.image}}'>
                        <input ng-show="editing" ng-model="poke.image" type="text" class="form-control input-md">
                        <input ng-show="creating" ng-model="newPoke.image" type="text" class="form-control input-md">
                      </div>
                <div class = "rightColumnMiddle col-xs-6 pull-right">
                  <div class = "pokeNameContainer pokeInfo">
                    <p class = "pokeNameText"> Evolves From: <span ng-hide="editing"> {{poke.evolves_from}}</span></p>
                    <input ng-show="editing" ng-model="poke.evolves_from" type="text" class="form-control input-md">
                    <input ng-show="creating" ng-model="newPoke.evolves_from" type="text" class="form-control input-md">
                  </div>
                </div>
                <div class="row">
                  <div class ="col-xs-12">
                  <button class='btn btn-info' ng-hide="creating" ng-click="creating = true">Create Pokemon!</button>
                  <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Pokemon!</button>
                  <button class='btn btn-success' ng-show="editing" ng-click="pokemonIndexCtrl.editPoke(poke); editing = false">Save Pokemon!</button>
                  <button class='btn btn-success' ng-show="creating" ng-click="pokemonIndexCtrl.newPoke(poke); creating = false">Save Pokemon!</button>
                  <button class='btn btn-danger' ng-click="pokemonIndexCtrl.deletePoke(poke)">Delete Pokemon!</button>
                  </div>
                </div>
                </div>
                </div>
                </div>
            </div>
          </div>
        </div>

        </div>
      <div>
    </div>
  </div>
</div>
</div>
  </body>

</html>
