/*div {
  background-color: blue;
}*/
/*div {
  padding:0 !important;
  margin:0 !important;
}*/

.redBackground {
  background-color: #dd0623;
}

#savePokemonButton {
  right:+50% !important;
}

.btn-lg {
  border-radius:0 !important;
  color: black;
  font-size: 3vh;
  border: 1px solid black
}
html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:middle;}

.content {
  /*margin-left: .5vh;*/
}
.pull-left {
  background-color: #dd0623;
}

.buttonContainer {
  margin-top: 5%;
}

/*.pull-right {
  background-color: #dd0623;
}*/

.title {
  font-size: 6vh;
}

/*#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid #dd0623;
	border-right: 100px solid transparent;
}*/


input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

#triangle-bottomleft {
width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 100px 0px;
border-color: transparent transparent #ff0000 transparent;
}

.pokePanel {
  background-color: #dd0623;
  height:80vh;
  padding-left: 0;
  border-top: 5px solid #fa435a;
  border-right: 5px solid #c1051c;
  border-bottom: 5px solid #c1051c;
}

.pokeNameContainer {
  text-align: center;
  margin-top: 4%;
  vertical-align: middle;
  display: table-cell;
  background-color:white;
  border:2px solid #000000;
}

/*.img-thumbnail{
  border:2px solid #000000;
}*/

.img-responsive{
  height:100%;
  width: auto;
  /*margin-left: 2.5%;
  margin-right: 2.5%;*/
}

.imgContainer{
  height:40vh;
  width: 40vh;
  padding: 3vh;
  background-color: white;
    border:2px solid #000000;
      vertical-align: middle;
}

.middleRowContainer{
  margin-top: 5%;
  margin-bottom:5%;
  /*margin-left:5%;
  margin-right:5%*/
}
.pokeNameText {
  vertical-align: middle;
  margin-top:2%;
  margin-bottom:2%;
  color: black;
}

.pokeInfo {
  width:1000vw;
  padding: 10%;
  margin-top:8%;

}

.searchBar{
border: 0 !important;
font-size: 2.5vh;
}

body {
  height:100%;
  width: 100%;
  padding-left: 0;
  padding:0 !important;
  margin:0 !important;
  overflow-x: hidden;
  background-image: url("https://wsnhighlighter.files.wordpress.com/2016/04/pkmn1-02.jpg");
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #000000;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.hiddenPokeSelect {
  display:none;
}

a {
  color: white;
  font-size:5vh;
}

a:visited {
  background-color: black;
  color:white;
}

a:hover {
  background-color: black;
  color:white;
}

a:active {
  background-color: black;
  color:white;
}
.pokeSide:hover {
  background-color: black;
  color:white;
}

.pokeSide:active {
    color: white;
    background-color: black;
}

.active {
  color: white;
  background-color: black;
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

body {
  font-family: 'VT323';
  margin:0;
  padding:0;
}

ul {
    list-style:none;
    padding-left:0;
}​
/*
.searchBorder{
  margin:0 !important;
  padding:0 !important;
  margin-left: -50% !important;
  border-left: 5px solid #fa435a;
}*/


.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

/*.searchContainerParent {
}*/

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.sideBar
{
  height:80vh;
  background-color: #dd0623;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 5px solid #fa435a;
  border-bottom: 5px solid #c1051c;
  border-top: 5px solid #c1051c;
  border-right: 5px solid #c1051c;

}

.pokeList
{
  height:80vh;
   overflow-y: auto;
   overflow-x: hidden;
   background-color: #dd0623;
}

.card {
  width: 300px;
  height: 300px;
}

.title, .pokeList {
  background-color: #dd0623;
  border-top: 5px solid #fa435a;
  border-right: 5px solid #fa435a;
  border-left: 5px solid #fa435a;
}
.pokeContainer {
  width: 100%;
  overflow-y: auto;
  height: 80vh;
  background-color: #dd0623;
  margin:0;
  font-size: 3vh;
  padding: 0;
}
