/*div {
  background-color: blue;
}*/
/*div {
  padding:0 !important;
  margin:0 !important;
}*/
.content {
  /*margin-left: .5vh;*/
}

.title {
  font-size: 6vh;
}

.pokePanel {
  background-color: #dd0623;
  height:80vh;
  padding-left: 0;


}

body {
  height:100%;
  width: 100%;
  padding-left: 0;
  padding:0 !important;
  margin:0 !important;
  overflow-x: hidden;
  background-image: url("https://wsnhighlighter.files.wordpress.com/2016/04/pkmn1-02.jpg");
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #000000;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.hiddenPokeSelect {
  display:none;
}

a {
  color: white;
  font-size:5vh;
}

a:hover {
  background-color: black;
  color:white;
}

a:active {
  background-color: black;
  color:white;
}
.pokeSide:hover {
  background-color: black;
  color:white;
}

.pokeSide:active {
    color: white;
    background-color: black;
}

.active {
  color: white;
  background-color: black;
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

body {
  font-family: 'VT323';
  margin:0;
  padding:0;
}

ul {
    list-style:none;
    padding-left:0;
}​


.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.sideBar
{
  height:80vh;
  background-color: #dd0623;
  overflow-y: auto;
  overflow-x: hidden;

}

.pokeList
{
  height:80vh;
   overflow-y: auto;
   overflow-x: hidden;
   background-color: #dd0623;
}

.card {
  width: 300px;
  height: 300px;
}

.title, .pokeList {
  background-color: #dd0623;
}
.pokeContainer {
  width: 100%;
  overflow-y: auto;
  height: 80vh;
  background-color: #dd0623;
  margin:0;
  font-size: 3vh;
  padding: 0;
}
